/* styling */
body {
  margin: 0;
  padding: 0;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a9e66ccf-90b4-4967-af80-9c1973b2a5a9/dbwbmgc-e62fe5d1-f3c6-4be3-baea-031cecfd0e4e.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2E5ZTY2Y2NmLTkwYjQtNDk2Ny1hZjgwLTljMTk3M2IyYTVhOVwvZGJ3Ym1nYy1lNjJmZTVkMS1mM2M2LTRiZTMtYmFlYS0wMzFjZWNmZDBlNGUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0._XtfdMMwGLEcCcOipFoc7ns6ZWDdRwvs3CcXdaw-KFM);
  
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
}

hr {
  margin: 0;
}

h1 {
  font-size: 23px;
}

.container {
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
  background-color: white;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 10px;
}

.submit-btn {
  width: 95%;
  border-radius: 10px;
  border: 0;
  padding: 10px;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(131, 131, 131);
  color: #39ff14;
  padding: 5px;
  align-items: center;
}

.logo {
  height: 50px;
  width: 50px;
  border: 1px solid white;
  border-radius: 50%;
  margin-left: 20px;
}

.logo:hover{
  border: 1px solid #39ff14;
  transition: ease-in-out 0.5s;
}

.nav-links {
  /* border: 1px solid white; */
  align-items: center;
  border-left: solid 1px white;
  margin-top: auto;
  padding: 15px;
  color: #39ff14;
  text-decoration: none;
}

.nav-links:hover {
  color: white;
  transition: ease-out 0.5s;
}

.banner {
  height: 578px;
  width: 100%;
  /* background: url("/Assets/banner.jpg"); */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: double white;
  border-radius: 10px;
}

.banner:hover {
  border: double #95ff82;
  transition: 0.5s;
}

.feature {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.feature-item {
  width: 100px;
  height: 100px;
  border: 1px solid white;
  border-radius: 50%;
}

.feature-item img {
  height: 100px; 
  width: 100px;
}

.feature-item:hover {
  border: #95ff82 1px solid;
}

h4 {
  text-align: center;
}

.message-section {
  display: flex;
  flex-direction: row;
  /* justify-content: start; */
  flex: 1;
}

.result {
  flex: 1;
  border: 1px dashed black;
  border-radius: 5px;
}

table {
  /* border: 1px solid black; */
  width: 100%;
}

input[type='radio']:hover {
  cursor: pointer;
}

input[type='text'],[type='date']{
  padding: 5px;
  width: 90%;
}

table tr td textarea {
  padding: 5px;
  width: 90%;
  height: 100px;
  border-radius: 3px;
}

button:hover {
  background-color: rgb(179, 179, 179);
  color: white;
  transition: ease-in-out 0.5s;
}

.form-result {
  padding-top: 50px;
  padding-left: 10px;
}

.form-result p {
  margin: 0; 
}

footer section {
  display: flex;
  justify-content: space-between;
  margin: 1%;
}

footer:hover {
  color: #1fcc00;
  transition: ease-in-out 0.5s;
  /* cursor: pointer; */
}