/* styling */
body {
  margin: 0;
  padding: 0;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a9e66ccf-90b4-4967-af80-9c1973b2a5a9/dbwbmgc-e62fe5d1-f3c6-4be3-baea-031cecfd0e4e.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2E5ZTY2Y2NmLTkwYjQtNDk2Ny1hZjgwLTljMTk3M2IyYTVhOVwvZGJ3Ym1nYy1lNjJmZTVkMS1mM2M2LTRiZTMtYmFlYS0wMzFjZWNmZDBlNGUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0._XtfdMMwGLEcCcOipFoc7ns6ZWDdRwvs3CcXdaw-KFM);
  font-family: 'Comic Neue', sans-serif;
}

hr {
  margin: 0;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 23px;
}

h1:hover {
  color: #1fcc00;
  transition: ease-in-out 0.5s;
  cursor: default;
}

#back-to-top-btn { 
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: none;
  opacity: 60%;
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  font-size: 10px;
}
#back-to-top-btn:hover {
  background-color: #0056b3;
}

.container {
  margin-top: 10%;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
  background-color: white;
  background: rgba(255, 255, 255, 0.17);
  border-radius: 16px;
  box-shadow: 0 8px 20px 0 rgba(15, 15, 15, 0.884);
  backdrop-filter: blur(6px);
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 10px;
}

.submit-btn {
  width: 95%;
  border-radius: 10px;
  border: 0;
  padding: 10px;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(131, 131, 131);
  color: #39ff14;
  align-items: center;
  /* position: relative;
  position: fixed;
  overflow-x: auto;
  overflow-y: auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999; */
}

.logo {
  height: 50px;
  width: 50px;
  border: 1px solid white;
  border-radius: 50%;
  margin-left: 20px;
}

.logo:hover{
  border: 1px solid #39ff14;
  transition: ease-in-out 0.5s;
}

.nav-links {
  align-items: center;
  border-left: solid 1px white;
  margin-top: auto;
  padding: 15px;
  color: #39ff14;
  text-decoration: none;
}

.nav-links:hover {
  color: white;
  transition: ease-out 0.5s;
  background-color: rgb(124, 124, 124);
}

.banner {
  height: 578px;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: double white;
  border-radius: 10px;
}

.banner-button {
  display: flex;
  justify-content: center;
}

.click-btn {
  margin: 5px;
  font-size: 25px;
  }

.click-btn:hover {
  cursor: pointer;
}

.banner:hover {
  border: double #95ff82;
  transition: 0.5s;
}

.feature {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.feature-item {
  width: 100px;
  height: 100px;
  border: 1px solid white;
  border-radius: 50%;
}

.feature-item img {
  height: 100px; 
  width: 100px;
}

.feature-item:hover {
  border: #95ff82 1px solid;
}

h4 {
  text-align: center;
}

.message-section {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.result {
  flex: 1;
  border: 1px dashed black;
  border-radius: 5px;
}

table {
  width: 100%;
}

input[type='radio']:hover {
  cursor: pointer;
}

input[type='text'],[type='date']{
  padding: 5px;
  width: 90%;
}

table tr td textarea {
  padding: 5px;
  width: 90%;
  height: 100px;
  border-radius: 3px;
}

button:hover {
  background-color: rgb(179, 179, 179);
  color: white;
  transition: ease-in-out 0.5s;
}

.form-result {
  padding-top: 50px;
  padding-left: 10px;
  margin-bottom: 20px;
}

.result:hover {
  border: 1px solid black;
}

.form-result p {
  margin: 0; 
  padding-bottom: 10px;
}

.error {
  color: red;
  font-size: 13px;
}

footer section {
  display: flex;
  justify-content: space-between;
  margin: 1%;
}

footer:hover {
  color: #1fcc00;
  transition: ease-in-out 0.5s;
}

@media only screen and (max-width: 600px) {
  nav {
    flex-direction: column;
  }
  .logo {
    margin-bottom: 14px;
    margin-left: 0;
  }
  .nav-links {
    display: flex;
    border-left: none;
    margin: 0;
    padding: 1%;
    width: 90%;
    justify-content: center;
  }
  .nav-menu {
    display: flex;
    border-left: hidden;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .feature-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30%;
  }
  .container {
    margin-top: 40%;
  }
  .banner {
    height: 250px;
  }
  .feature {
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 20px;
    align-items: start;
  }
  .feature-item {
    margin-top: 10px;
    margin-right: 5px;
  }
  .message {
    margin-bottom: 10px;
  }
  .message-section {
    flex-direction: column;
  }
  .result {
    margin-top: 10px;
  }
  .form-result {
    padding-top: 10px;
  }
  footer section {
    flex-direction: column;
    align-items: center;
  }
}

/* Responsive UI banner for PC */
@media only screen and (min-width: 1024px) {
  .banner {
    height: 578px;
  }
}

/* Responsive UI banner for Tablet */
@media only screen and (max-width: 1023px) and (min-width: 601px) {
  .banner {
    height: 400px;
  }
}

/* Responsive UI banner for Phone */
@media only screen and (max-width: 400px) {
  .banner {
    height: 150px;
  }
  .container {
    margin-top: 60%;
  }
  .feature-container {
    margin-left: 10%;
  }
}